<h1>Edit User</h1>

<%= form_for @user do |f| %>
<%= f.label :email, :autofocus => true, :required => true %>
<%= f.email_field :email %>

<%= f.label :username, :required => true %>
<%= f.text_field :username %>

<%= f.label :profile_image, :required => true %>
<%= f.text_field :profile_image %>

<%= f.label :coins, :required => true %>
<%= f.number_field :coins %>

<%= f.submit %>
<% end %>
