<div class="centerContent">
    <h1><% if @user.admin == true %>
          <%= image_tag "icon_admin.png", :class => "iconProfile" %>
        <% end %>
        <% if @user.creator == true %>
          <%= image_tag "icon_artist.png", :class => "iconProfile" %>
        <% end %>
        <%= @user.username %>!</h1>

        <% if @user.profile_image.present? %>
          <% if @user.profile_image.include? "." %>
            <%= image_tag @user.profile_image, :class => "profile_image" %>
          <% elsif %>
            <%= cl_image_tag @user.profile_image, :class => "profile_image" %>
          <% end %>
        <% end %>

    <p class="coin"><%= image_tag "coin.png" %><%= @user.coins  if @user.coins.present?%></p>

    <% if @user.characters.count > 0 %>
    <h2>Characters: </h2>
    <div class="profile_grid">
      <%= render partial: "characters/display_character", collection: @user.characters, as: :character %>
    </div>
    <% end %>


    <%# if they have species, show them here %>
    <% if @user.species.count > 0 %>
    <h2>Species: </h2>
    <div class="profile_grid">
      <% @user.species.each do |species| %>
          <div class="gridContainer"><%= link_to species.genus, species %><br>

            <% if species.image.include? "." %>
              <%= link_to image_tag(species.image, :class => "thumb"), species if species.image.present?  %>
            <% elsif %>
              <%= link_to cl_image_tag(species.image, :class => "thumb"), species if species.image.present?  %>
            <% end %>

          </div>
      <% end %>
    </div>
    <% end %>

    <% if @user.accessories.count > 0%>
    <h2>Accessories: </h2>
    <div class="profile_grid">
      <% @user.accessories.each do |accessory| %>
          <div class="gridContainer"><%= link_to accessory.name, accessory %><br>
            <%= link_to image_tag(accessory.image, :class => "thumb"), accessory if accessory.image.present?%></div>
      <% end %>
    </div>
    <% end %>



    <%# Only allow edit and delete button, if the user looking is @current_user's %>
    <% if @current_user.id == @user.id || @current_user.admin == true %>
      <div class="edit">
        <%= link_to "Edit #{@user.username}", edit_user_path(@user.id) %>
        <%= button_to "Delete #{@user.username}!", @user, :method => "delete", :data => {:confirm => "Are you sure?"} %>
      </div>
    <% end %>
</div>
