<div class="centerContent">
  <h1>Welcome to Dinoland!</h1>
  <% if @current_user.characters.length > 0 %>
    <p>Click one of your characters to choose him! Then press play.</p>
  <% else %>
    <p><%= link_to "Create your first character", new_character_path, :class => "createButton" %></p>
    <p><%= link_to "Check out other characters", characters_path, :class => "characterButton" %></p>
    <p><%= link_to "Check out some species!", species_index_path, :class => "speciesButton" %></p>
  <% end %>

  <div class="homeGrid">

    <% @characters.each do |character| %>
    <div class="character_container">
        <% if character.posessions.present? %>
          <% character.posessions.each do |p| %>
            <% id = p.accessory_id %>
            <% acc = Accessory.find id %>
              <%= posession = image_tag acc.image, :class => "character_accessory", :style => "position: absolute; top: #{p.x_pos}%; left: #{p.y_pos}%;" %>
          <% end %>
        <% end %>

        <% if character.species.image.present?  %>
          <% id = "feature_" + character.id.to_s %>

          <% if character.species.image.present? %>
            <%= image_tag character.species.image, :class => "character_feature characterImage", :id => id %>
          <% end %>

        <% end %>
      </div>
    <% end %>
  </div>

<% if @current_user.characters.length > 0 %>
  <div class="playGame">
    <%= form_tag "/game" do %>
      <%= hidden_field_tag "selectedCharacterHidden", "" %>
      <%= image_submit_tag("playbutton.png", :class => "playButton") %>
    <% end %>
  </div>
<% end %>
</div>
