<h1><%= @character.name %> DINO!</h1>

<p>Name: <%= @character.name %></p>
<p>Talent: <%= @character.talent %></p>
<p>Age: <%= @character.age %></p>
<% if @character.species.image.present? %>
  <p>Image: <%= image_tag @character.species.image, :class => "feature" %></p>
<% end %>
<p>Creator: <%= link_to @character.user.username, user_path(@character.user.id)  %></p>


<%# Only allow edit and delete button, if the character is @current_user's %>
<% if @current_user.id == @character.user_id || @current_user.admin == true %>
  <div class="edit">
    <%= link_to "Edit #{@character.name}", edit_character_path(@character.id) %>
    <%= button_to "Delete #{@character.name}!", @character, :method => "delete", :data => {:confirm => "Are you sure?"} %>
  </div>
<% end %>
