<h1><%= @accessory.name %>!</h1>

<p>Accessory: <%= @accessory.name %></p>
<% if @accessory.image.present? %>
  <% if @accessory.image.include? "." %>
    <%= image_tag @accessory.image, :class => "feature" %>
  <% elsif %>
    <%= cl_image_tag @accessory.image, :class => "feature" %>
  <% end %>
<% end %>
<p>Cost: <%= @accessory.cost %></p>
<p>Creator: <%= link_to @accessory.user.username, user_path(@accessory.user.id)  %></p>

<%# Only allow edit and delete button, if the accessory is @current_user's %>
<%# TODO: use a form for this edit div in accessories, characters, users and species. %>
<% if @current_user.id == @accessory.user_id  || @current_user.admin == true%>
  <div class="edit">
    <%= link_to "Edit #{@accessory.name}", edit_accessory_path(@accessory.id) %>
    <%= button_to "Delete #{@accessory.name}!", @accessory, :method => "delete", :data => {:confirm => "Are you sure?"} %>
  </div>
<% end %>
